#canvas{
    position: absolute;
    bottom: 40px;
    left: 350px;
}
body{
    width: 1000px;
    height: 400px;
    background-color:whitesmoke;
}
#guidelines{
    width: 400px;
    height:400px;
    position: absolute;
    background-color: darkkhaki;
    left: 880px;
    top: 27px;
}
#guidelines1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 45px;
    left: 935px;
    position: absolute;
    text-shadow: 4px 2px white;
}
#rule1{
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    left: 920px;
    position: absolute;
    top:100px;
}
#title{
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    position: absolute;
    left: 450px;
    top:30px;
}
#start{
    position: absolute;
    left: 500px;
    top:250px;
    border: 1px solid black;
    width: 150px;
    height:70px;
    border-radius: 15px;
    font-size: 50px;
    font-family: Bradley Hand ITC;
    padding: 5px;
    box-shadow: 2px 3px slategrey;
}
#start:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#start:active{
    transform: translateY(4px);
}
#exit:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#exit:active{
    transform: translateY(4px);
}
#one{
    position: absolute;
    left:170px;
    top: 150px;
}
#two{
    position: absolute;
    left:400px;
    top:160px;
}
#three{
    position: absolute;
    bottom: -30px;
    left:330px;
}
#background{
    position: absolute;
    bottom: 40px;
    left: 350px;
    width:460px;
    height:600px;
    background-color: darkkhaki;
    border: 0.1px solid black;
}